// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.card {
  border-color: #d3e0e9;
}

.card .card-header {
  border-color: #d3e0e9;
}

.bbs-navbar {
  border-color: #e7e7e7;
  background-color: #fff;
  border-top: 4px solid #f06665;
  margin-bottom: 40px;
  margin-top: 0;

  .bbs-navbar-right .dropdown-menu {
    padding: 0;
    margin-top: 8px;

    a {
      border-bottom: 1px solid #d8d8d8;
      line-height: 2;

      .fa {
        margin-right: 6px;
      }
    }
  }
}

.register-page {
  img.captcha {
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 3px;
  }
}

.categories-show-page,
.topics-index-page {
  .topic-list {
    .nav > li > a {
      position: relative;
      display: block;
      padding: 5px 14px;
      font-size: 0.9em;
    }

    a {
      color: #444444;
    }

    .meta {
      font-size: 0.9em;
      color: #b3b3b3;

      a {
        color: #b3b3b3;
      }
    }

    .badge {
      background-color: #d8d8d8;
    }

    hr {
      margin-top: 12px;
      margin-bottom: 12px;
      border: 0;
      border-top: 1px solid #dcebf5;
    }
  }
}

.bbs-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* Add container and footer space */
#app-main > div.container {
  margin-bottom: 100px;
}
